# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Vue.js
dist/
*.local

# Docker
*.docker
*.dockerfile
docker-compose.override.yml

# Elixir
/_build/
/deps/
/erl_crash.dump
/.elixir_ls/

# PostgreSQL
*.pgdata
*.pgdump